.main_text {
    font-size: 30px;
}

.sort_types {
    padding: 10px 0;
    display: block;
}

.image {
    display: block;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.code {
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
    padding: 1.5em 1em;
    background: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    tab-size: 2;
}

* {
    box-sizing: border-box;
    print-color-adjust: exact;
}

pre {
    display: block;
    font-family: monospace;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    margin: 1em 0px;
    white-space: break-spaces;
}